<!-- Future implementation -->

<!DOCTYPE html>
<html>
<head>
    <%- include('./components/header') %>
    <title>Habit Steak</title>
    <style>
        #container{
            width: 300px;
            margin: 100px auto;
        }
    </style>
</head>
<body>
    <div id="container">
        <h3>Feedback Form</h3>

        <form action='/feedback' method='POST'>

            <!-- user email -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email adress</span>
                </div>
                <input type="text" name='email' class="form-control" placeholder="habitSteak@gmail.com">
            </div>

            <!-- feedback -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Feedback</span>
                </div>
                <textarea type="text" name="text" class="form-control"></textarea>
            </div>

            <!-- send button -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>