<!DOCTYPE html>
<html>
<head>
    <%- include('./components/header') %>
    <title>Habit Steak</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/landingPage.css" />
    <style>
        #container{
            width: 300px;
            margin: 100px auto;
        }
    </style>
    </head>
<body>
    <div id="container">
        <div class="list-group">
            <!-- name - Habit Steak -->
            <div class="list-group-item">
                <h3>Welcome to Habit Steak</h3>
            </div>

            <!-- what is Habit Steak-->
            <div class="list-group-item">
                <h4>What is Habit Steak?</h4>
                <p>Habit Steak is a minimalist habit tracker. A simple UI with a simple aim, ensuring users stick to their plan.</p>
            </div>

            <!-- How it works -->
            <div class="list-group-item">
                <h4>How it works?</h4>
                <p>Set a habit to do every day. On the day you fail to stick to the habit put money you staked into your secret stake jar</p>
                <p>Involving money will give you the extra push to stick to your habit</p>
            </div>

            <!-- where to give money -->
            <div class="list-group-item">
                <h4>I failed a lot, now what?</h4>
                <p>Spend staked money for the greater good! </p>
                <ol>
                    <li>Donate to foundation!</li>
                    <li>Support someone from your community!</li>
                    <li>Support Habit Steak!</li>
                    <li>It is up to you to decide</li>
                </ol>
            </div>
                    
            <!-- current state -->
            <div class="list-group-item">
                <h4>Current State</h4>
                <p>Please note that Habit Steak is still in its early stages. It is currently fully functional, but expect much more features and improvements in the future</p>
                <p>Feedback is very much appreciated</p>
            </div>

            <!-- feedback -->
            <div class="list-group-item">
                <h4>Feedback</h4>
                <p>Habit Steak team will read every single feedback!</p>
                <p>Please send to <strong class="text-primary">habitSteak@gmail.com</strong></p>
            </div>

            <!-- future plans -->
            <div class="list-group-item">
                <h4>Future Plans</h4>
                <div>A glimpse into the future of Habit Steak</div>
                <ul>
                    <li>Personal settings like currency.</li>
                    <li>Other ways to sign up besides Google.</li>
                    <li>More habit types. e.g. 5 times a week.</li>
                    <li>Challenge mode. e.g. all $100 for 30 days.</li>
                    <li>Themes.</li>
                    <li>A more fluid application.</li>
                </ul>
                <a href='https://github.com/williamsk91/Habit-Steak'><i class="fab fa-github fa-2x"></i> Github Page</a>
            </div>

            <div class="list-group-item">
                <h4>Take it for a spin</h4>
                <p>The login button is just on the right side. Thank you so much!</p>
                <a href="/auth/login" class="btn btn-primary">Login Page</a>
            </div>

        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>