<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Habit Steak - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        *{
            padding: 0px;
            margin: 0px;
        }

        #loginCard{
            width: 300px;
            margin: auto;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div id="loginCard">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Welcome to Habit Stake</div>
                <p>Sign in using</p>
                <a href="/auth/google">Google+</a>
            </div>
        </div> 
    </div>
</body>
</html>