<!DOCTYPE html>
<html>
<head>
    <%- include('./components/header') %>
    <title>Habit Steak - Login</title>
    <style>
        *{
            padding: 0px;
            margin: 0px;
        }

        #loginCard{
            width: 300px;
            margin: auto;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div id="loginCard">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Welcome to Habit Stake</div>
                <p>Sign in using</p>
                <a href="/auth/google">Google+</a>
            </div>
        </div> 
    </div>
</body>
</html>